html {
  font-size: 40px;
}
body {
  display: block;
  text-align: center;
}
div {
  font-family: Helvetica;
}
.flex {
  display:flex;
}
.center {
  justify-content: center;
}
.landscape {
  width: 100%
}
.portrate{
  width: 960px;
}

.first{
  border: 1px solid red;
  flex-direction: column;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*This section is to design the top black line*/
.first-logo {
background-color: black;
}
.logo {
  text-align: left;
  align-items: center;
  border: 1px solid black;
  padding: 0 auto;
}

.logo h5 {
  padding: 0.66rem 0.5rem;
  font-size: 1rem;
  color: white;
}
.logo img {
  height: 1.5rem;
  padding: 0 0.5rem;
}
/*This part style the new arrival section*/
.new-arrival {
  height: 25rem;

}
.new {
  justify-content: space-between;
  flex-flow: wrap;
}
.new div {
  width: 20rem;
}

.new .text{
  margin-top: 9rem;
  margin-bottom: 7rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: left;

}

.text p {
  padding-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}
.text h1 {
  font-size: 2rem;
  font-weight: bold;
}
/* This part is the links section */
.links {
  background-color: firebrick;
  text-align: center;
  margin-bottom: 0;
}

.links .link-section {
  justify-content: space-between;
}
.link-section span {
  color: white;
  margin: 0.75rem 0;
}
/* This section style the second section*/
.second {
  flex-direction: column;
  align-items: center;
  margin: 3rem auto 4rem;
}
/*This section style the the products div*/
.products {
  height: auto;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;

}
.products span {
  border: 4px solid black;
  width: 30%;
}
span img {
  margin: 2rem;
  width: 9rem;
  height: 9rem;
}
span p {
  background-color: black;
  color: white;
  padding: 0.5rem auto;
}
/* This section style the contacts div */
.contacts {
  justify-content: space-between;
}
.contacts span {
  width: 35%;
  text-align: left;
}
.location, .hours {
  padding: 1rem 2rem;
}
.location2,.hours2 {
  color: black;
  background-color: white;
}
/* This section is the copyright section*/
body .third {
  height: 5rem;
  background-color: black;
  align-items: center;
}
.third .copyright {
  width: 960px;
  color: white;
  text-align: left;
}
